            <div id="sidebar">
                <ul class="nav list-group">
                    <li>
                        <a class="list-group-item" href="#" style="color:#337ab7"><i class="fa fa-dashboard fa-fw"></i> Dashboeard</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="/admin/day-cares" style="color:#337ab7"><i class="fa fa-user-circle"></i> Day Cares</a>
                    </li>
                     <li>
                        <a class="list-group-item" href="/admin/parents" style="color:#337ab7"><i class="fa fa-user-circle"></i> Parents</a>
                    </li>
                    
                </ul>
               
            </div>