<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container-fluid">

    <div id="header" class="navbar navbar-default navbar-fixed-top">
    
   <% include ./partials/header %>
     </div>
<div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-2">
     <% include ./partials/sidebar %>
   </div>
   <div id="main-wrapper" class="col-md-10 pull-right">
        <div id="main">
            <div class="page-header">
                <h3>Add Daycare</h3>
                 <%
                if(typeof  error_message.errorMessage != 'undefined' ){%>
                 
                 <div class="alert alert-danger">
                    <strong>Danger!</strong> The email address is already in use by another account.
                 </div>
                <%}
                %> 
            </div>
            <div class="data-add">
               <form class="form-horizontal" action="add-do" id="add-daycare" method="post" novalidate>
                   <div class="form-group">
                    <label class="control-label col-md-2" for="username">Username:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="add-username" placeholder="Enter Username" name="username">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-md-2" for="email">Email:</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" id="add-email" placeholder="Enter Email" name="email">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2" for="password">Password:</label>
                    <div class="col-md-4">          
                        <input type="password" class="form-control" id="add-password" placeholder="Enter Password" name="password">
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="mobile">Mobile:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="add-mobile" placeholder="Enter Mobile" name="mobile">
                        </div>
                    </div>
                    <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                    </div>
                </form>
            </div>  
        
        </div>

        

  </div>
</div>
</body>
<% include ./partials/footer %>
<script>
$(function() {
 $("#add-daycare").validate({

          
        // Specify the validation rules
        rules: {
            username: "required",
           
            
            email:{
             required:true,
             email:true
             },
            password:{
              required:true,
              minlength:8,
              maxlength:20
            },

           mobile:{
            required:true,
            minlength:8,
            maxlength:12,
            number: true
            }
        },
        
        // Specify the validation error messages
        messages: {
            username: "Please enter  username",
                     
            email: {
             required: "We need email address",
             email: " email address must be in the format of name@domain.com"
           },
           password:{
             required:"Please enter password",
             minlength:"Enter At least 8 character",
             maxlength:"Enter Maximum 20 character"
           },
           mobile:{
             required:"We need  mobile number to contact you",
             number:"only enter number",
             minlength:"Enter At least 8 didgit number and only integer number",
             maxlength:"Enter Maximum 12 didgit number and only integer number"
           }
            
        },
        submitHandler: function(form) {
            form.submit();
        }
    });

   
  });
</script>
</html>