<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container-fluid">

    <div id="header" class="navbar navbar-default navbar-fixed-top">
    
   <% include ./partials/header %>
     </div>
<div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-2">
     <% include ./partials/sidebar %>
   </div>
   <div id="main-wrapper" class="col-md-10 pull-right">
        <div id="main">
            <div class="page-header">
                <h3>Dashboard</h3>
            </div>
        
        </div>

        

  </div>
</div>
</body>
</html>